certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.0
idna==3.11
-e git+ssh://aurore@rpi/DATA/repo/python/mdtrans.git@72cd1d4c4431e9f2cc454196db40b0f75aa62074#egg=mdtrans
requests==2.32.5
urllib3==2.5.0
